
h1{
    margin-left: 10%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.etapa{
    margin-left: 80%;
}
#cpf{
    margin-left: 0;
    justify-content: right;
    margin-bottom: 50px;
    
}
#rg, #orgao{
    margin-left: 0;
    
}
#email{
    margin-bottom: 50px;
}
#email,#telefone, #name, #telefone{
    margin-left: 0;
}
label,input{
    
    display: inline-block;
    justify-content: space-between;
    margin-left: 50px;
}

.form{
    background-color: white;
    width: 40%;
    margin-left: 30%;
    border-radius: 15px;
    height: 600px;

}
body{
    background-color: rgba(161, 163, 165, 0.585);
}
.botao2{
    margin-top: 15%;
    margin-left: 40%;
    justify-content: center;
    background-color: rgb(16, 161, 26);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
input{
    height: 30px;
    width: 140px;
    border-radius: 8px;
}
#cabecalho{
    margin-top: 2px;
}